@{
    string title = (string)ViewData["teamname"];
    if (ViewData["teamid"] == null)
    {
        ViewBag.teamid = null;
    }
    else
    {
        ViewBag.teamid = (long)ViewData["teamid"];

    }

    ViewBag.Title = title;
}

@*I had a ton of trouble with the logic on the taghelper for some reason, so I executed some logic here in this page to pass the correct info to the taghelper, which then passes it to the controller and that's it!*@

@model IndexViewModel

<header><h1>@ViewBag.Title</h1></header>




@foreach (var x in Model.Bowlers)
{
    <br />
    <b><span>@x.BowlerLastName</span><span>, </span><span>@x.BowlerFirstName</span><span> @x.BowlerMiddleInit</span></b>
    <br /><span>@x.BowlerAddress</span>
    <span>, @x.BowlerCity</span><span>, @x.BowlerState</span><span>, @x.BowlerZip</span>
    <br /><span>Phone: @x.BowlerPhoneNumber</span>
    <br />
}
<br />


<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-url-teamname="@ViewBag.Title" page-url-teamid="@ViewBag.teamid"
     page-class=" btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>