@{
    string teamname = (string)ViewData["teamname"];
}

@model IEnumerable<Team>
@*Broke it into two if statements, I don't love the syntax of the other way. This makes more sense to me!*@


@if (teamname == "Home")
{
    <b>
        <a class="btn btn-block btn-outline-primary" asp-action="Index" asp-controller="Home" asp-route-pageNum="1">Home</a>
        <br />
    </b>
}
else
{
    <a class = "btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamid="" asp-route-teamname="Home" asp-route-pageNum="1">Home</a>
    <br />
}


@foreach (var x in Model)
{
    if (teamname == x.TeamName)
    {
        
            <a class="btn btn-block btn-primary" asp-action="Index" asp-controller="Home" asp-route-teamid="@x.TeamId" asp-route-teamname="@x.TeamName"
               asp-route-pageNum="1">@x.TeamName</a>
            <br />
        
    }
    else
    {
        <a class = "btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamid="@x.TeamId" asp-route-teamname="@x.TeamName"
           asp-route-pageNum="1">@x.TeamName</a>
        <br />
    }
}  